@model IEnumerable<CGKUpdated.Models.ImagePair>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                User
            </th>
            <th>
                Added At
            </th>
            <th>
                Original
            </th>
            <th>
                Gradient
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.user)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.addedAt)
            </td>
            <td>
                    <img src="~/pairs/original/@(item.title).jpg" width="90%" height="auto" border="1"/>
            </td>
            <td>
                    <img src="~/pairs/gradient/@(item.title).jpg" width="90%" height="auto" border="1"/>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.title">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.title">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.title">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
